include AUTHORS
include README.rst
include LICENSE
recursive-include staff_toolbar/locale *
recursive-include staff_toolbar/templates *.html
recursive-include staff_toolbar/static *
global-exclude .DS_Store
global-exclude Thumbs.db
global-exclude Desktop.ini
global-exclude *.swp
global-exclude *~
global-exclude *.bak
